{% extends 'layout_with_sidebar.twig' %}

	{% block title %}
		{{ category ? category.name : 'Tous les articles du blog' }} 
	{% endblock title %}
    {% block h1 %}
        {{ category ? category.name : 'Tous les articles' }} 
    {% endblock h1 %}
	
{% block main %}

{% for post in posts %}
    <div class="col-sm-12 blog-item mb100 wow match-height">
        <div class="row">
            <div class="col-xs-12">
                <div class="hover-item mb30">
            <!-- Retrait du .jpg au moment final !-->
                    <img src="{{ '../var/media/photo/' ~ post.picture  ~ '.jpg' }}" class="img-responsive smoothie" alt="title">
                    <div class="overlay-item-caption smoothie"></div>
                    <div class="hover-item-caption smoothie">
                        <h3 class="vertical-center smoothie"><a href="single&id={{ post.id }}" class="smoothie btn btn-primary page-scroll" title="view article">Voir</a></h3>
                    </div>
                </div>
                <h2 class="post-title">{{ post.title }}</h2>
                <div class="item-metas text-muted mb30">
                    <span class="meta-item"><i class="pe-icon pe-7s-folder"></i> POSTER DANS <span>{{ post.category }} </span></span>
                    <span class="meta-item"><i class="pe-icon pe-7s-user"></i> AUTEUR <span>{{ post.user }}</span></span> LE {{ post.create_date }}
                </div>
                <p>{{ post.chapo }}</p>
                <a class="btn btn-primary mt30" href="single&id={{ post.id }}">
                Lire plus</a>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock main %}

{% block paging %}

        <div>
        {% for i in 1..max_page %}

            {% if i == actual_page %}
                PAGE {{i}} |
            {% elseif category %}
                <a href="category&id={{category.id}}&page={{i}}"> Page {{i}} |</a>
            {% else %}
                <a href="post&page={{i}}"> Page {{i}} </a>
            {% endif %}

        {% endfor %}
    </div>

{% endblock paging %}
