{% extends 'layout_with_sidebar.twig' %}

	{% block title %}
	 Article numero {{ post.id }}
	{% endblock title %}
	{% block h1 %}
        {{ post.title }} 
    {% endblock h1 %}


{% block main %}

<div class="col-sm-12 blog-item mb100 wow match-height">
        <div class="row">
            <div class="col-xs-12">
                <div class="hover-item mb30">
            <!-- Retrait du .jpg au moment final !-->
                    <img src="{{ '../var/media/photo/' ~ post.picture  ~ '.jpg' }}" class="img-responsive smoothie" alt="title">
                    <div class="overlay-item-caption smoothie"></div>
                    <div class="">
                        <h3 class="vertical-center smoothie"></h3>
                    </div>
                </div>
                <h2 class="post-title">{{ post.title }}</h2>
                <div class="item-metas text-muted mb30">
                    <span class="meta-item"><i class="pe-icon pe-7s-folder"></i> POSTER DANS <span>{{ post.category }} </span></span>
                    <span class="meta-item"><i class="pe-icon pe-7s-user"></i> AUTEUR <span>{{ post.user }}</span></span> LE {{ post.create_date }}
                </div>
                <p>{{ post.content }}</p>
                
            </div>
        </div>
    </div>

	<br/><br/>

	<h2> Commentaires : </h2> 
	<br/>

	<div>
		{% for comment in comments %}
			<div>
				<div>
					{{ comment.author }} a écrit à
					{{ comment.create_date }}
				</div>
				<br/>
				<p>
					{{ comment.content}}
				</p>
				<br/>
			</div>
		{% endfor %}
	</div>


	<p> PAGE : 

		{% for i in 1..max_page %}

			{% if i == actual_page %}
				{{i}} 
			{% else %}
				<a href="index.php?p=single&id={{ post.id }}&page={{i}}"> {{i}} </a>
			{% endif %}

		{% endfor %}
	</p><br/>

	<h3>Ecrire un commentaire</h3>


	<form method="post" action="index.php?p=single&id={{ post.id }}">

	<p><label for="author_com">Votre pseudo : </label> <input type="text" name="author_com" id="author_com"/></p>

	<p><textarea name="com" value="votre commentaire ici" rows="5" cols="50"></textarea></p>
	<input type="submit" name="submit" value="Envoyer"/>
	</form>

{% endblock main %}

{% block paging %}

	<p> </p> 

{% endblock paging %}