{% extends 'layout.twig' %}

	{% block title %}
		Interface utilisateur 
	{% endblock title %}

		{% block h1 %}
		Administrer vos articles 
	{% endblock h1 %}

{% block content %}


<br/><br/><br/>

<div class="text-center">
<p> 
	<a href="index.php?p=user.post.add" class="btn-lg btn-success">Ajouter un nouvel article</a>
</p>
<br/><br/>

<p> 
	<a href="index.php?p=user.edit" class="btn-lg btn-success">Editer mon profil</a>
</p>
</div>

<br/><br/><br/>



<table class="table">
	<thead>
		<tr>
			<td>ID</td>
			<td>Titre</td>
			<td>Categorie</td>
			<td>Dernière modification</td>
			<td>Commentaire à valider</td>
			<td>Actions</td>
		</tr>
	</thead>
	
	<tbody>
		{% for post in posts %}
			<tr>
				<td>{{ post.id }}</td>
				<td>{{ post.title }}</td>
				<td>{{ post.category }}</td>
				<td>
	{{ post.last_update == null ? post.create_date : post.last_update }}
				</td>
				<td>{{ post.commentNotYetValid }} </td>
	<!--			<td><?= $post->getCommentNotYetValid(); ?></td>      !-->
				<td><a class="btn btn-info" href="index.php?p=user.post.edit&id={{ post.id }}">Editer</a>
					<form method="post">
						<input type="hidden" name="id_delete" value="{{ post.id }}"/>
						<button type="submit" class="btn btn-danger">Supprimer</button>
					</form>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<br/><br/><br/>

<div class="text-center">
<p> 
	<a href="index.php?disconnect" class="btn-lg btn-success">Me deconnecter</a>
</p>
<br/><br/>
<p> 
	<a href="index.php?p=admin.home" class="btn btn-success">Connexion en tant qu'administrateur</a>
</p>
</div>

<br/><br/><br/>


{% endblock content %}
