{% extends 'layout.twig' %}

	{% block title %}
		{% if post %}
		'Editer un article'
		{% else %} 
		'Ajouter un article'
		{% endif %}		
	{% endblock title %}

	{% block h1 %}
		Administrer vos articles 
	{% endblock h1 %}

{% block content %}
<div class="container-fluid text-center">
	<br/><br/>
	<h2>
		{% if post %}
		  Edition de l'article : {{post.title}}
		{% else %} 
			'Ajouter un article'
		{% endif %}	
	</h2>
	<br/><br/>

	<div>
		<form method="post" action="user.post.edit&id={{ post.id }}" enctype="multipart/form-data">
			<label for="title">
				{% if post %}
			    	Changer le titre de l'article
				{% else %} 
					Titre de l'article
				{% endif %}	
			</label><br/>
			<input type="text" 
			name="
			{% if post %}
			    titleChange
			{% else %} 
				title
			{% endif %}	
				" 
			id="title" 
			value="{{ post.title?: null }}"/>
			<br/><br/>
		
			<label for="category"> Choisissez la categorie de l'article </label><br/>
			<select 
			name="
			{% if post %}
			    categoryChange
			{% else %} 
				category
			{% endif %}
				"
			id="category">
				{% for categorie in categories %}
					<option value="{{ categorie.id }};"/>{{ categorie.name }}</option>
				{% endfor %} 
			</select><br/><br/>

			<label for="chapo">
			{% if post %}
			   Changer le Resumé de l'article
			{% else %} 
				Resumé de l'article
			{% endif %}	
			</label><br/>
			<input type="text" 
			name="
			{% if post %}
			    chapoChange
			{% else %} 
				chapo
			{% endif %}
			" 
			id="chapo" value="{{ post.chapo?: null }}"/><br/><br/>
			<label for="content">
			{% if post %}
			   Changer le Contenu de l'article
			{% else %} 
				Contenu de l'article
			{% endif %}	
			</label><br/>
			<textarea 
			name="
			{% if post %}
			    contentChange
			{% else %} 
				content
			{% endif %}
			" 
			id="content" cols="100" rows="30">{{ post.content?: null }}</textarea><br/><br/>

	{% if post %}
		<p> <img src="../var/media/photo/{{ post.picture }}.jpg" alt="avec ext"> </p>
		<p> <img src="../var/media/photo/{{ post.picture }}" alt="sans ext"> </p>
	{% endif %}

			<label>
			{% if post %}
			   Changer la photo de l'article : 
			{% else %} 
				Choisir la photo de l'article :
			{% endif %}	
			<br />
			<input type="file" 
			name="
			{% if post %}
			    pictureChange
			{% else %} 
				picture
			{% endif %}
			"
			 /><br /> </label><br/>
			<input class="btn btn-info" type="submit" value="Sauvegarder"/><br/><br/>
		</form>
	</div>

{% if post %}
	<h2>Validation des commentaires</h2>
	<br/><br/>
	<div>		
		{% for comment in comments %}
			<div>
				<div>
					{{ comment.author }} a écrit à {{ comment.create_date }}
				</div><br/>
				<p> {{ comment.content }} </p> <br/>
				<a href="user.post.edit&id={{ comment.id }}&valid={{ comment.id }}">Valider le commentaire</a>
				<a href="user.post.edit&id={{ comment.id }}&delete={{ comment.id }}">Supprimer le commentaire</a>
			</div>
		{% endfor %}
	</div>
{% endif %}
</div>

<br/><br/><br/><br/>

{% endblock content %}
